    #cr7 { margin-left: 30%;
    }
    #cr7 {}
#cr7 { width: 500px;
}
#cr7 {border-color: crimson;
border-width: 30px;
border-style: solid;}

#cr7 {border-color: green;
border-width: 15px;
border-style: solid;}

#parte1 {background-color: green;
}
#parte2 {background-color: black;
}
h2 {border-color: black;}